body {
    width: 100%;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: normal;
    padding-left: 14px;
    padding-top: -15px;
    vertical-align: top;
    background-image: url("images/back.jpg");
    overflow: auto;
    
}

.ome{
    display: inline;
}

.ome1 {
    position: absolute;
    top: 0;
    left: 10px;
}

.ome2 {
    position: absolute;
    top: 0;
    left: 300px;
}

.ome3 {
    position: absolute;
    top: 0;
    left: 600px;
}

.ome4 {
    position: absolute;
    top: 0;
    left: 900px;
}
.sriman {
    outline: 2px solid gold;
    border-radius: 260%;
    background-color: black;
    font-family: 'Tangerine', serif;
    font-size: 320%;
    color: goldenrod;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    position:absolute;
    top:32px;
    left:360px;
}

.charama{
    position: absolute;
    top:140px;
    left: 360px;
}

.charama2 {
    position: absolute;
    left: 430px;
    top: 620px;
}

.lotuspos {
    position:absolute;
    top: 30px;
    left: 930px;  
}

.flex-container #chsize {
    font-size: 240%;

}
#hari {
    outline: 10px solid gold;
}

#krishna {
    outline: 8px solid goldenrod;
    margin-top: 60px;
}

.life {
    outline: 3px solid silver;
    color: goldenrod;
    background-color: black;
}

.flash {
    font-family: 'Tangerine', serif;
    font-size: 140%;
    flex: 0 0 0px;
    margin-top: -25px;
    margin-bottom: -26px;
    order: 6;
}

.flash .govind {
    margin-bottom: -28px;
    margin-right: 69px;
    background-color: black;
    color: goldenrod;
}

.where {
    color:goldenrod;
    background-color: black;
    margin-right: 340px;
}

.flex-container .one div {
    flex: 0 0 70px;
    order: 2;
}

* a {
    float: auto;
    color: goldenrod;
    background-color: black;
    font-size: 110%;    
}

.two {
    order: 4;
    margin-top: 10px;
}

.flex-container .three div {
    flex: 0 0 8px;
    order: 3;
}

.flex-container .four {
    flex: 0 0 12px;
    order: 5;
    margin-bottom: 7px;
}

.flex-container .maps {
    font-family: 'Tangerine', serif;
    font-size: 150%;
    order: 7;
    margin-top: 15px;
}

.flex-container .maps .where {
    margin-bottom: 4px;
}