.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: normal;
    padding-left: 8px;
    padding-top: 0px;
    vertical-align: top;
    background-image: url("images/back.jpg");
    
}

.ome {
    outline: 1px solid black;
    display: inline-block;
    margin-right: 300px;
    order: 1;
    padding-left: 8px;
}
.sriman {
    outline: 2px solid gold;
    border-radius: 260%;
    background-color: black;
    font-family: 'Tangerine', serif;
    font-size: 320%;
    color: goldenrod;
    text-align: center;
    margin-left: 300px;
    margin-top: 30px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
}

.charama {
    position: absolute;
    top: 150px;
    left: 390px;
    text-align: left;
}

.lotuspos {
    position: absolute;
    top: 55px;
    right: 30px;
}

#chsize {
    font-size: 300%;

}
#hari {
    outline: 10px solid gold;
}

#krishna {
    outline: 8px solid goldenrod;
}

.life {
    outline: 3px solid silver;
    color: goldenrod;
    background-color: black;
}

.flash {
    font-family: 'Tangerine', serif;
    font-size: 140%;
    flex: 0 0 0px;
    margin-top: -25px;
    margin-bottom: -26px;
    order: 6;
}

.flash .govind {
    margin-bottom: -28px;
    margin-right: 69px;
    background-color: black;
    color: goldenrod;
}

.where {
    color:goldenrod;
    background-color: black;
    margin-right: 340px;
}

.flex-container .one div {
    flex: 0 0 70px;
    order: 2;
}

* a {
    float: auto;
    color: goldenrod;
    background-color: black;
    font-size: 110%;    
}

.two {
    order: 4;
    margin-top: 10px;
}

.flex-container .three div {
    flex: 0 0 8px;
    order: 3;

    
}

.flex-container .four {
    flex: 0 0 12px;
    order: 5;
    margin-bottom: 7px;
}

.flex-container .maps {
    font-family: 'Tangerine', serif;
    font-size: 150%;
    order: 7;
    margin-top: 15px;
}

.flex-container .maps .where {
    margin-bottom: 4px;
}